

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

    background-image: url('https://images.unsplash.com/photo-1549633760-1e716f89ef3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  /* --color: rgba(84, 155, 173, 0.452); */
  /* --color: rgba(69, 189, 236, 0.452); */
  --color: #9cdcaa3d;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
